@import 'general/variables';
@import 'general/mixins';

body {
  @include mode();
  @include font;

  font-size: .9em;
  font-weight: 300;
  margin: 0 0 40px;
}

label {
  display: block;
  padding: 0;
}

.header {
  margin-bottom: 2em;
  width: 100%;
}

.clear-options {
  padding: .5em;

  input {
    @include mode(true);
    @include font;

    float: right;
    font-size: .9em;
    padding: .2em;
    width: 50%;

    &[type='button'] {
      @include button;
    }
  }
}

.title {
  font-size: 18px;
  margin-bottom: .5em;
}

.msg {
  font-size: 16px;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  width: 100%;
}

%box {
  background: $success;
  color: $white;
  margin: auto;
  padding: 10px;
  width: 50%;
}

.success {
  @extend %box
}

.error {
  @extend %box;
  background: $error;
}
