@import "general/variables";
@import "general/mixins";

/**



asdas
    Autocomplete
 */
.syspass-autocomplete {
    background: white;
    z-index: 1000;
    font: 14px/22px "-apple-system", BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    overflow: auto;
    box-sizing: border-box;
    border: 1px solid rgba(50, 50, 50, 0.6);

    * {
        font: inherit;
    }

    & > div {
        padding: 0 4px;
    }

    .group {
        background: #eee;
    }

    & > div:hover:not(.group), & > div.selected {
        background: #81ca91;
        cursor: pointer;
    }

    & > div:hover:not(.group) {
        background: rgba(129,202,145,0.5);
    }
}

.syspass-spinner {
    @include spinner;
}
