@import "variables";

@mixin font {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Ubuntu', 'Helvetica Neue', sans-serif
}

@mixin mode($border: false, $link: false) {
  background: $lightMenu;
  color: $lightText;

  @if $border {
    border: 1px solid $lightBorder;
  }

  @if $link {
    &:hover {
      background: $lightMenuHover;
    }
  }

  @media (prefers-color-scheme: dark) {
    background: $darkMenu;
    color: $darkText;

    @if $border {
      border: 1px solid $darkBorder;
    }

    @if $link {
      cursor: pointer;

      &:hover {
        background: $darkMenuHover;
      }
    }
  }
}

@mixin spinner($color: $spinnerColor, $background: $spinnerBackground) {
  display: inline-block;
  width: 100%;
  height: 100%;
  border: 3px solid $background;
  border-radius: 50%;
  border-top-color: $color;
  animation: spin 1s ease-in-out infinite;

  @keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  @-webkit-keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
    }
  }
}
