// Dark Mode
$dark: #323234;
$dark-menu: #4a4a4f;
$dark-menu-hover: #5c5c61;
$dark-text: #f9f9fa;
$dark-border: #27272b;

// Light Mode
$light: #f9f9fa;
$light-menu: #fff;
$light-menu-hover: #ededed;
$light-text: #1a1a1a;
$light-border: #b8b8b8;

// Spinner
$spinner-background: #dedede;
$spinner-color: #999;

// General vars
$purple: #5c6bc0;
$white: #fff;
$success: #4e9b58;
$error: #9b231d;
$dropdown-border: rgba(50, 50, 50, .6);
$dropdown-hover: rgba(129, 202, 145, .5);
$dropdown-hover-selected: #81ca91;
$dropdown-background-group: #eee;
