// Dark Mode
$dark: #323234;
$darkMenu: #4a4a4f;
$darkMenuHover: #5c5c61;
$darkText: #f9f9fa;
$darkBorder: #27272b;

// Light Mode
$light: #f9f9fa;
$lightMenu: #ffffff;
$lightMenuHover: #ededed;
$lightText: #1a1a1a;
$lightBorder: #b8b8b8;


// General vars
$purple: #5c6bc0;
$white: #ffffff;
$success: #4e9b58;
$error: #9b231d;
