/**
    Autocomplete
 */
.autocomplete {
    background: white;
    z-index: 1000;
    font: 14px/22px "-apple-system", BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    overflow: auto;
    box-sizing: border-box;
    border: 1px solid rgba(50, 50, 50, 0.6);
}

.autocomplete * {
    font: inherit;
}

.autocomplete > div {
    padding: 0 4px;
}

.autocomplete .group {
    background: #eee;
}

.autocomplete > div:hover:not(.group),
.autocomplete > div.selected {
    background: #81ca91;
    cursor: pointer;
}

.autocomplete > div:hover:not(.group) {
    background: rgba(129,202,145,0.5);
}

/**
    Spinner
 */

.syspass-spinner {
    display: inline-block;
    width: 100%;
    height: 100%;
    border: 3px solid #dedede;
    border-radius: 50%;
    border-top-color: #999999;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}
